nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 1.3rem ;

    .nav_links {
        

        &_item {
            margin-right: 1rem;
        }
    }


}

.hamburguer_menu {

    &_lines {
        display: block;
        width: 28px;
        height: 2px;
        margin-bottom: 4px;
        position: relative;
        background: #000;
        transition: all 300ms ease-in-out;
        transform-origin: 5px 1px;
    }
}


.mobile {
    display: none;
}