$light-red: hsl(356, 100%, 66%);
$x-light-red: hsl(355, 100%, 74%);
$x-dark-blue: hsl(208, 49%, 24%);

$white-text: hsl(0, 0%, 100%);
$grey-text: hsl(240, 2%, 79%);
$x-dark-grey-blue: hsl(207, 13%, 34%);
$x-dark-black-blue: hsl(240, 10%, 16%);

$grad-x-light-red: hsl(13, 100%, 72%);
$grad-light-red: hsl(353, 100%, 62%);

$grad-x-dark-gray-blue: hsl(237, 17%, 21%);
$grad-x-dark-desat-blue: hsl(237, 23%, 32%);


